Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@rissuga 
rissuga
/
laravel_adminTemplate
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
laravel_adminTemplate/resources/views/backend/user/edit_user.blade.php
@rissuga
rissuga first commit
Latest commit 0d64929 on Aug 15
 History
 1 contributor
220 lines (192 sloc)  8.24 KB

@extends('admin.body.index')
@section ('content')

<div class="content-wrapper">
  <div class="container-full">


    <div class="row">

      <!-- <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Basic form elements</h4>
            <p class="card-description">
              Basic form elements
            </p>
            <form class="forms-sample">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label>Single select box using select 2</label>
                    <select class="js-example-basic-single w-100">
                      <option value="AL">Admin</option>
                      <option value="WY">User</option>
                    </select>
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div> -->
      <!-- Basic form elements end-->

      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Update User</h4>
            <form class="form-sample" method="post" action="{{route('users.update', $editData->id)}}">
              @csrf

              <!-- <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h7>Basic Select <span class="text-danger">*</span></h7>
                    <div class="controls">
                      <select name="select" id="select" required class="form-control">
                        <option value="">Select Type User</option>
                        <option value="Admin"  {{($editData->UserType=="admin"? "selected":"")}} >Admin</option>
                        <option value="User"   {{($editData->UserType=="User"? "selected":"")}}  >User  </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <h7>Name<span class="text-danger">*</span></h7>
                    <div class="controls">
                      <input type="text" name="textName" value="{{$editData->name}}" class="form-control" required data-validation-required-message="This field is required">
                    </div>
                    <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                  </div>
                </div>
              </div>
              <!-- end row -->


              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h7>Email <span class="text-danger">*</span></h7>
                    <div class="controls">
                      <input type="email" name="email" value="{{$editData->email}}" class="form-control" required data-validation-required-message="This field is required">
                    </div>
                  </div>
                </div>

                {{-- <div class="col-md-6">
                  <div class="form-group">
                    <h7>Password <span class="text-danger">*</span></h7>
                    <div class="controls">
                      <input type="password" name="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                  </div>
                </div> --}}
              </div>

              <div class="text-xs-right">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Horizontal Two column end -->


      <!-- <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Select 2</h4>
            <div class="form-group">
              <label>Single select box using select 2</label>
              <select class="js-example-basic-single w-100">
                <option value="AL">Alabama</option>
                <option value="WY">Wyoming</option>
                <option value="AM">America</option>
                <option value="CA">Canada</option>
                <option value="RU">Russia</option>
              </select>
            </div>
            <div class="form-group">
              <label>Multiple select using select 2</label>
              <select class="js-example-basic-multiple w-100" multiple="multiple">
                <option value="AL">Alabama</option>
                <option value="WY">Wyoming</option>
                <option value="AM">America</option>
                <option value="CA">Canada</option>
                <option value="RU">Russia</option>
              </select>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Select 2 -->

      <!-- <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Typeahead</h4>
            <p class="card-description">
              A simple suggestion engine
            </p>
            <div class="form-group row">
              <div class="col">
                <label>Basic</label>
                <div id="the-basics">
                  <input class="typeahead" type="text" placeholder="States of USA">
                </div>
              </div>
              <div class="col">
                <label>Bloodhound</label>
                <div id="bloodhound">
                  <input class="typeahead" type="text" placeholder="States of USA">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Typeahead -->
    </div>



  </div>
</div>



@endsection


<!-- plugin js for this page -->
<script src="{{asset('backend/vendors/typeahead.js/typeahead.bundle.min.js')}}"></script>
<script src="{{asset('backend/vendors/select2/select2.min.js')}}"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="{{asset('backend/js/file-upload.js')}}"></script>
<script src="{{asset('backend/js/typeahead.js')}}"></script>
<script src="{{asset('backend/js/select2.js')}}"></script>
<!-- End custom js for this page-->
<script src="{{asset('backend/js/form-validation.js')}}"></script>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
laravel_adminTemplate/resources/views at master · rissuga/laravel_adminTemplatelaravel_adminTemplate/edit_user.blade.php at master · rissuga/laravel_adminTemplate